body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}   
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
img{
    display: block;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    background-color:#FFFFFF;
}
.header-one{
    border-bottom: 1px solid #e7e9fc;
}
.div-nav{
    display: flex;

}
.nav-hed{
    display: flex;
    align-items: center;
}
.nav-link-logo{
    font-family:"Raleway", sans-serif;
    color:#4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 24px 0;
    display: block;
}
.menu-nav{
    display: flex;
    gap: 40px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;

}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}
.adress-top{
    font-style: normal;
}
.address-ls{
    display: flex;
    gap: 40px;
}
.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;

}
.address-link:hover,
.address-link:focus{
    color: #404bbf;
}
.gl-title{
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/head/people-office\ 1.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gl-title-one{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;

}
.gl-title-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 48px auto 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.gl-title-button:hover,
.gl-title-button:focus{
    background-color:#404bbf;
    cursor: pointer;

}

h2,h3{
    color:#2E2F42;
}
.sec-one{
    padding: 120px 0;
}
.sec-one-list-ul{
    display: flex;
    gap: 24px;
}
.sec-one-list{
    width: calc((100% - 72px) / 4);
}
.sec-one-title{
    font-family: "Roboto", sans-serif;
    font-weight:500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;

}
.sec-one-text{
    font-family: "Roboto", sans-serif;
    font-weight:400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.sec-two-gl-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
} 
.sec-two-gl-list{
    display: flex;
    gap: 24px;
}

.sec-two{
    background-color: #F4F4FD ;
    padding: 120px 0;
    
}
.sec-two-list{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.sec-two-prtf{
    padding: 32px 0;
}
.sec-two-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}
.sec-two-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-gl-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.port-gl-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.port-list{
    width: calc((100% - 48px) / 3);

}
.portfolio-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}
.portfolio-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer{
    background-color: #2E2F42;
    padding: 100px 0;

}
.footer-logo{
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.span-footer{
    color: #f4f4fd;
}
.footer-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
    max-width: 264px;
}